.articleWrapper {
  display: flex;
  max-width: 500px;
}
.userInfo {
  height: 40px;
  display: flex;
  align-items: center;
}
.avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.userInfo,
h2 {
  margin: 0;
  margin-top: 10px;
}
.articleImg img {
  max-width: 220px;
  height: auto;
}
